@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

b{
	font-variant: small-caps;
	font-weight: normal;
}

section[epub|type~="dedication"] p{
	margin-top: 5em;
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}
